<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito</title>
</head>
<body>
    <section>
        <div>
            <H1>Mi Carrito</H1>
            <article>
                <h3>Producto en carrito 1</h3>
                <p>
                    Precio: S/ 54.00
                </p>
                <img src="https://th.bing.com/th/id/OIP.F_Gp8luDobd2MazrdhX50QHaKS?w=139&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="producto 1">
            </article>
            <hr>
            <article>
                <h3>Producto en carrito 2</h3>
                <p>
                    Precio: S/ 25.00
                </p>
                <img src="https://th.bing.com/th/id/OIP.F_Gp8luDobd2MazrdhX50QHaKS?w=139&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="producto 2">
            </article>
            <hr>
            <article>
                <h3>Producto en carrito 3</h3>
                <p>
                    Precio: S/ 40.00
                </p>
                <img src="https://th.bing.com/th/id/OIP.F_Gp8luDobd2MazrdhX50QHaKS?w=139&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="producto 3">
            </article>
            <hr>
            <article>
                <h3>Producto en carrito 4</h3>
                <p>
                    Precio: S/ 32.00
                </p>
                <img src="https://th.bing.com/th/id/OIP.F_Gp8luDobd2MazrdhX50QHaKS?w=139&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="producto 4">
            </article>
        </div>
    </section>
</body>
</html>