<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <header>
        <div>
            <img src="../images/logo Porta.jpg"  a="Porta" alt="Logo">   
        </div>
        <form action="" method="POST"></form>
            <input type="text" name="Buscador" id="input_Buscador" value="Buscar Producto">
            <button type="submit" name="BotonBuscador" id="BotonBuscador"> Buscar </button>

        <nav>
            <ul>
                <li><a href="#Ubicanos">Ubicanos</a></li>
                <li><a href="#Iniciar Sesión">Iniciar Sesión</a></li>
                <li><a href="#Carrito de Compras">Carrito de Compras</a></li>

            </ul>
        </nav>
    </header>


    <main>
        <section>
            <img src="../images/banner.jpg" alt="Banner">
            <section class="Section_Filtros">
                <nav class="Section_Nav"></nav>

            </section>
        </section>






    </main>


</body>
</html>