<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <header>
        <div>
            <img src="../images/logo Porta.jpg"  a="Porta" alt="Logo">
        </div>
        <form action="" method="POST"></form>
            <input type="text" name="Buscador" id="input_Buscador" value="Buscar Producto">
            <button type="submit" name="BotonBuscador" id="BotonBuscador"> Buscar </button>

        <nav>
            <ul>
                <li><a href="#Ubicanos">Ubicanos</a></li>
                <li><a href="#Iniciar Sesión">Iniciar Sesión</a></li>
                <li><a href="#Carrito de Compras">Carrito de Compras</a></li>

            </ul>
        </nav>
    </header>


    <main>
        <section id="FILTROS">
            <img src="../images/banner.jpg" alt="Banner">
            <section class="Section_Filtros">
                <nav class="Section_Nav">
                    <div id="OpcionesProductos">
                    <li><a href="#Mochilas">Mochilas</a></li>
                    <li><a href="#Carteras">Carteras</a></li>
                    <li><a href="#Maletas">Maletas</a></li>
                    </div>
                </nav>
                <select name="sel_Cliente" id="sel_Cliente">
                    <option value="" disabled selected>¿Para quien estas comprando?</option>
                    <option value="Hombres">Hombres</option>
                    <option value="Mujeres">Mujeres</option>
                    <option value="Niños">Niños</option>
                </select>
            </section>
        </section>

        <section id="Productos">
            <article class="art_Producto">
                <img src="producto.jpg" alt="Nombre del Producto">
                <h2>Nombre de Producto</h2>
                <p>Categoria: <span id="categoria_produtco">Cartera</span></p>
                <p>Precio: <span id="precio">S/. 200.00</span></p>
            </article>

            <article class="art_Producto">
                <img src="producto.jpg" alt="Nombre del Producto">
                <h2>Nombre de Producto</h2>
                <p>Categoria: <span id="categoria_produtco">Mochila</span></p>
                <p>Precio: <span id="precio_producto">S/. 150.00</span></p>
            </article>

            <article class="art_Producto">
                <img src="producto.jpg" alt="Nombre del Producto">
                <h2>Nombre de Producto</h2>
                <p>Categoria: <span id="categoria_produtco">Cartera</span></p>
                <p>Precio: <span id="precio">S/. 110.00</span></p>
            </article>

            <article class="art_Producto">
                <img src="producto.jpg" alt="Nombre del Producto">
                <h2>Nombre de Producto</h2>
                <p>Categoria: <span id="categoria_produtco">Maleta</span></p>
                <p>Precio: <span id="precio">S/. 220.00</span></p>
            </article>

            <article class="art_Producto">
                <img src="producto.jpg" alt="Nombre del Producto">
                <h2>Nombre de Producto</h2>
                <p>Categoria: <span id="categoria_produtco">Maleta</span></p>
                <p>Precio: <span id="precio">S/. 300.00</span></p>
            </article>

            <article class="art_Producto">
                <img src="producto.jpg" alt="Nombre del Producto">
                <h2>Nombre de Producto</h2>
                <p>Categoria: <span id="categoria_produtco">Mochila</span></p>
                <p>Precio: <span id="precio">S/. 280.00</span></p>
            </article>
        </section>
    </main>
</body>
</html>